<div class="col-md-6 col-md-offset-3" style="margin: 0 auto; margin-top:100px;background-color:light-blue;" ng-controller="signup">
    <h2>Sign Up</h2>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="First Name">First Name</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="firstName" required placeholder="Joe"/>
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">First Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="lastname">Last Name</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="lastName" required placeholder="Smith"/>
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Last Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="userName" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password (Confirm)</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="passwordConfirm" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Email</label>
            <input type="text" name="password" id="password" class="form-control" ng-model="email" required placeholder="abc@gmail.com"/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Email is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Phone</label>
            <input type="text" name="password" id="password" class="form-control" ng-model="phone" required placeholder="XXX-XXX-XXXX"/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Phone is required</span>
        </div>
        <div class="form-actions">
            <button ng-click="submitData()" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
        </div>
</div>

